[package]
name = "worker"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
worker = "0.0.21"
app = { path = "../app", features = ["ssr"] }
leptos = { version = "0.6", features = ["ssr", "nightly"] }
